.cart-header {
    background-color: $color-dark-lightest;
    margin-bottom: 2rem;
    padding: 1.5rem 0 1rem;
    text-align: center;
    
    &__title {
        font-size: 1.4rem;
        font-weight: 700 !important;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
    }
}

.cart-list {
    
    &__item {
        border-bottom: 1px solid $color-dark-lightest;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        
        .image-section {
            width: 8rem;
            
            .image {
                height: auto;
                max-height: 6rem;
                object-fit: cover;
                object-position: center;
                width: 100%;
            }
        }
        
        .details-section {
            flex-basis: 100%;
            padding: 0 1rem;
            
            .name {
                font-size: 1.5rem;
                font-weight: 400;
                letter-spacing: 0.03rem;
                margin-bottom: 0.1rem;
            }
            
            .price {
                color: orange;
                font-size: 1.3rem;
                font-weight: 700;
                margin-top: 0.8rem;
            }
        }
        
        .action-section {
            text-align: center;
            
            .button-group {
                border: none;
                display: flex;
                margin-bottom: 1.5rem;
                
                .button-quantity {
                    background-color: $color-dark;
                    border: none;
                    color: $color-white;
                    height: 2.5rem;
                    padding: 0;
                    width: 2.5rem;
                    
                    &:focus {
                        outline: none;
                    }
                }
                
                .button-label {
                    align-items: center;
                    color: $color-dark-light;
                    display: flex;
                    font-size: 1.3rem;
                    font-weight: 700;
                    justify-content: center;
                    letter-spacing: 0.1rem;
                    margin: 0;
                    padding: 0;
                    width: 4rem;
                }
            }
            
            .remove {
                color: red;
                cursor: pointer;
                font-size: 1.3rem;
                letter-spacing: 0.1rem;
                text-transform: capitalize;
            }
        }
    }
    
    .extra-section {
        text-align: center;
        
        .total {
            align-items: center;
            background-color: $color-dark-lightest;
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;
            padding: 1rem;
        }
        
        .continue {
            color: $color-dark-light;
            cursor: pointer;
            display: inline-block;
            margin-bottom: 4rem;
            
            &:hover {
                color: $color-dark;
            }
        }
    }
}